// Шрифты
@import "fonts.css";

$attantion: #ff3c2d;

$white_text: white;
$black_text: #222222;
$gray_text: #ababab;

$gray_numbers: #4e4e4e;
$gray_light_numbers: #cccccc;

$gray_light_fone: #f6f6f6;

html {
  box-sizing: border-box;
  scroll-behavior: smooth; //для плавной прокрутки по идентификатору
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1920px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
.sectionWrapper {
  margin: 0px 180px;
}

.btnSmall {
  line-height: 16px;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  background-color: $attantion;
  font-weight: normal;
  border-radius: 3px;
  border: none;
}

.btnStandart {
  line-height: 18px;
  font-size: 18px;
  padding: 14px 40px;
  color: white;
  background-color: $attantion;
  font-weight: normal;
  border-radius: 3px;
  border: none;
}

//Tag Nav
nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;

  .navWrapper {
    margin: 25px 100px;
    height: 54px;
    line-height: 54px;
  }
  .logo {
    width: 132px;
    height: 54px;
  }
  .menu {
    a {
      margin-right: 40px;
      color: $black_text;
      text-decoration: none;
      &:hover {
        color: darken($black_text, 25%);
        border-bottom: 1px dotted $black_text;
      }
    }
  }
  .bookNow {
    text-align: right;
    input {
      margin-right: 50px;
    }
    .social {
      display: inline-block;
      a {
        margin-left: 15px;
      }
    }
  }
}

//Tag Header
.header {
  margin-top: 100px;
  background-color: $black_text;
  position: relative;
  .opacity {
    height: 510px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(34, 34, 34, 0.45);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    font-size: 70px;
    color: white;
    line-height: 80px;
    margin-top: 70px;
    font-weight: bold;
  }
  span {
    color: white;
    font-size: 21px;
    line-height: 28px;
  }
  input {
    display: block;
    margin-top: 50px;
  }
  &-session {
    position: absolute;
    top: 0;
  }
}

//Tag Main

main {
  margin-top: 100px;
  .sessions {
   text-align: center;
    &-left {
      padding: 100px 0;
      background-color: $black_text;
      color: $white_text;
      h2 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 80px;
      }
      aside {
        text-align: left;
        margin: 0 280px;
        p {
          border-bottom: 2px solid $gray_numbers;
          font-size: 18px;
          margin-bottom: 40px;
          &.f {
            &::before {
              content: "1 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 50px;
              color: $gray_numbers;
            }
          }
          &.s {
            &::before {
              content: "2 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 50px;
              color: $gray_numbers;
            }
          }
          &.t {
            &::before {
              content: "3 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 52px;
              color: $gray_numbers;
            }
          }
        }
      }
      input {
        margin-top: 80px;
      }
    }
    &-right {
      padding: 100px 0;
      background-color: $gray_light_fone;
      color: $black_text;
      h2 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 80px;
      }
      aside {
        text-align: left;
        margin: 0 280px;
        p {
          border-bottom: 2px solid $gray_light_numbers;
          font-size: 18px;
          margin-bottom: 40px;
          &.f {
            &::before {
              content: "1 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 50px;
              color: $gray_light_numbers;
            }
          }
          &.s {
            &::before {
              content: "2 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 50px;
              color: $gray_light_numbers;
            }
          }
          &.t {
            &::before {
              content: "3 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 52px;
              color: $gray_light_numbers;
            }
          }
        }
      }
      input {
        margin-top: 80px;
      }
    }
  }

  //map
  .map {
    position: relative;
    &-search {
      background-color: white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 50px 275px 50px 50px;
      border-radius: 3px;

      h2 {
        font-size: 50px;
        font-weight: 700;
      }
      p {
        font-weight: 500;
      }
      .search {
        &_inp {
          padding: 11px;
          border: none;
          border-radius: 3px;
          background-color: $gray_light_fone;
        }
        &_btn {
          margin-left: -5px;
        }
      }
    }
  }

  .service {
    margin-top: 100px;
    text-align: center;
    
    h2 {
      margin-top: 15px;
      font-size: 50px;
      font-weight: 600;
    }
    &-nav {
      margin-top: 35px;
      ul {
        padding-left: 0;
      }
      &__item {
        display: inline-block;
        font-size: 18px;
        margin-right: 40px;
        a {
          text-decoration: none;
          color: $gray_text;
          &:hover {
            color: $black_text;
            padding-bottom: 4px;
            border-bottom: 2px solid red;
          }
        }
      }
    }
  }
  .gallery {
    margin-top: 50px;
  }

  
}
