@import url("fonts.css");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1920px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.sectionWrapper {
  margin: 0px 180px;
}

.btnSmall {
  line-height: 16px;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  background-color: #ff3c2d;
  font-weight: normal;
  border-radius: 3px;
  border: none;
}

.btnStandart {
  line-height: 18px;
  font-size: 18px;
  padding: 14px 40px;
  color: white;
  background-color: #ff3c2d;
  font-weight: normal;
  border-radius: 3px;
  border: none;
}

nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

nav .navWrapper {
  margin: 25px 100px;
  height: 54px;
  line-height: 54px;
}

nav .logo {
  width: 132px;
  height: 54px;
}

nav .menu a {
  margin-right: 40px;
  color: #222222;
  text-decoration: none;
}

nav .menu a:hover {
  color: black;
  border-bottom: 1px dotted #222222;
}

nav .bookNow {
  text-align: right;
}

nav .bookNow input {
  margin-right: 50px;
}

nav .bookNow .social {
  display: inline-block;
}

nav .bookNow .social a {
  margin-left: 15px;
}

.header {
  margin-top: 100px;
  background-color: #222222;
  position: relative;
}

.header .opacity {
  height: 510px;
}

.header .opacity::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.45);
}

.header .opacity img {
  width: 100%;
  height: 100%;
}

.header h1 {
  font-size: 70px;
  color: white;
  line-height: 80px;
  margin-top: 70px;
  font-weight: bold;
}

.header span {
  color: white;
  font-size: 21px;
  line-height: 28px;
}

.header input {
  display: block;
  margin-top: 50px;
}

.header-session {
  position: absolute;
  top: 0;
}

main {
  margin-top: 100px;
}

main .sessions {
  text-align: center;
}

main .sessions-left {
  padding: 100px 0;
  background-color: #222222;
  color: white;
}

main .sessions-left h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 80px;
}

main .sessions-left aside {
  text-align: left;
  margin: 0 280px;
}

main .sessions-left aside p {
  border-bottom: 2px solid #4e4e4e;
  font-size: 18px;
  margin-bottom: 40px;
}

main .sessions-left aside p.f::before {
  content: "1 ";
  margin-left: -22px;
  font-size: 80px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 50px;
  color: #4e4e4e;
}

main .sessions-left aside p.s::before {
  content: "2 ";
  margin-left: -22px;
  font-size: 80px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 50px;
  color: #4e4e4e;
}

main .sessions-left aside p.t::before {
  content: "3 ";
  margin-left: -22px;
  font-size: 80px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 52px;
  color: #4e4e4e;
}

main .sessions-left input {
  margin-top: 80px;
}

main .sessions-right {
  padding: 100px 0;
  background-color: #f6f6f6;
  color: #222222;
}

main .sessions-right h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 80px;
}

main .sessions-right aside {
  text-align: left;
  margin: 0 280px;
}

main .sessions-right aside p {
  border-bottom: 2px solid #cccccc;
  font-size: 18px;
  margin-bottom: 40px;
}

main .sessions-right aside p.f::before {
  content: "1 ";
  margin-left: -22px;
  font-size: 80px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 50px;
  color: #cccccc;
}

main .sessions-right aside p.s::before {
  content: "2 ";
  margin-left: -22px;
  font-size: 80px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 50px;
  color: #cccccc;
}

main .sessions-right aside p.t::before {
  content: "3 ";
  margin-left: -22px;
  font-size: 80px;
  font-weight: bold;
  vertical-align: middle;
  line-height: 52px;
  color: #cccccc;
}

main .sessions-right input {
  margin-top: 80px;
}

main .map {
  position: relative;
}

main .map-search {
  background-color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 50px 275px 50px 50px;
  border-radius: 3px;
}

main .map-search h2 {
  font-size: 50px;
  font-weight: 700;
}

main .map-search p {
  font-weight: 500;
}

main .map-search .search_inp {
  padding: 11px;
  border: none;
  border-radius: 3px;
  background-color: #f6f6f6;
}

main .map-search .search_btn {
  margin-left: -5px;
}

main .service {
  margin-top: 100px;
  text-align: center;
}

main .service h2 {
  margin-top: 15px;
  font-size: 50px;
  font-weight: 600;
}

main .service-nav {
  margin-top: 35px;
}

main .service-nav ul {
  padding-left: 0;
}

main .service-nav__item {
  display: inline-block;
  font-size: 18px;
  margin-right: 40px;
}

main .service-nav__item a {
  text-decoration: none;
  color: #ababab;
}

main .service-nav__item a:hover {
  color: #222222;
  padding-bottom: 4px;
  border-bottom: 2px solid red;
}

main .arrow {
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 3px;
}

main .arrow:before {
  content: " ";
  position: absolute;
  width: 3px;
  height: 12px;
  top: -2px;
  left: -3px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

main .arrow:after {
  content: " ";
  position: absolute;
  width: 3px;
  height: 12px;
  top: -2px;
  right: -3px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

main .arrow-service {
  background: white;
  left: 150px;
  top: 31px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main .arrow-service:before {
  background: white;
}

main .arrow-service:after {
  background: white;
}

main .arrow__left {
  background: #222222;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main .arrow__left:before {
  background: #222222;
}

main .arrow__left:after {
  background: #222222;
}

main .arrow__right {
  background: #222222;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main .arrow__right:before {
  background: #222222;
}

main .arrow__right:after {
  background: #222222;
}

main .gallery {
  margin-top: 50px;
}

main .gallery__girl {
  overflow: hidden;
}

main .gallery-service__block {
  display: inline-block;
  position: relative;
  margin: 0 10px 20px;
  width: 50%;
  max-width: 350px;
}

main .gallery-service__block img {
  width: 100%;
}

main .gallery-service__block:hover {
  -webkit-box-shadow: 1px 1px 10px 1px #ababab;
          box-shadow: 1px 1px 10px 1px #ababab;
}

main .gallery-service__block:hover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.66)), color-stop(22%, rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0) 22%);
}

main .gallery-service__block .__info {
  text-align: left;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 25px;
  font-size: 18px;
  line-height: 18px;
}

main .gallery-service__block .__info a {
  color: white;
}

main .gallery-service__block .__info input {
  color: white;
  border: none;
  display: block;
  background-color: #ff3c2d;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 4px 12px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

main .gallery-service-arrows .wrap {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  width: 50%;
  max-width: 350px;
  height: 28px;
  background-color: #f6f6f6;
}

main .usefulTips {
  margin-top: 150px;
  background-color: #f6f6f6;
}

main .usefulTips-text {
  margin-top: 80px;
}

main .usefulTips-text h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 30px;
}

main .usefulTips-text p {
  font-size: 18px;
  font-weight: 400;
}

main .usefulTips-text img {
  margin-top: 15px;
  margin-left: 10px;
}

main .usefulTips-block {
  margin-top: 80px;
}

main .usefulTips-block__img {
  margin-bottom: 85px;
}

main .usefulTips-block-tips {
  margin-bottom: 20px;
  max-width: 320px;
  padding-bottom: 15px;
  font-size: 16px;
  border-bottom: 2px solid #cccccc;
}

main .usefulTips-block-tips img {
  float: left;
  margin-left: 5px;
  margin-right: 15px;
  margin-top: -10px;
}

main .usefulTips .headshot-service {
  background-color: #222222;
  color: white;
  padding: 80px 50px 50px;
  margin-top: -50px;
}

.scroll {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: gray;
  margin-left: 50px;
  border-radius: 30px;
}

.arrowTooTop {
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 3px;
}

.arrowTooTop:before {
  content: " ";
  position: absolute;
  width: 3px;
  height: 12px;
  top: -2px;
  left: -3px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.arrowTooTop:after {
  content: " ";
  position: absolute;
  width: 3px;
  height: 12px;
  top: -2px;
  right: -3px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.arrowTooTop-this {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: black;
}

.arrowTooTop-this:before {
  background: black;
}

.arrowTooTop-this:after {
  background: black;
}
/*# sourceMappingURL=main.css.map */