// Шрифты
@import url("fonts.css");


$attantion: #ff3c2d;

$white_text: white;
$black_text: #222222;
$gray_text: #ababab;

$gray_numbers: #4e4e4e;
$gray_light_numbers: #cccccc;

$gray_light_fone: #f6f6f6;

html {
  box-sizing: border-box;
  scroll-behavior: smooth; //для плавной прокрутки по идентификатору
}

*, *::before, *::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 1920px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
.sectionWrapper {
  margin: 0px 180px;
}

.btnSmall {
  line-height: 16px;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  background-color: $attantion;
  font-weight: normal;
  border-radius: 3px;
  border: none;
}

.btnStandart {
  line-height: 18px;
  font-size: 18px;
  padding: 14px 40px;
  color: white;
  background-color: $attantion;
  font-weight: normal;
  border-radius: 3px;
  border: none;
}

//Tag Nav
nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;

  .navWrapper {
    margin: 25px 100px;
    height: 54px;
    line-height: 54px;
  }
  .logo {
    width: 132px;
    height: 54px;
  }
  .menu {
    a {
      margin-right: 40px;
      color: $black_text;
      text-decoration: none;
      &:hover {
        color: darken($black_text, 25%);
        border-bottom: 1px dotted $black_text;
      }
    }
  }
  .bookNow {
    text-align: right;
    input {
      margin-right: 50px;
    }
    .social {
      display: inline-block;
      a {
        margin-left: 15px;
      }
    }
  }
}

//Tag Header
.header {
  margin-top: 100px;
  background-color: $black_text;
  position: relative;
  .opacity {
    height: 510px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(34, 34, 34, 0.45);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    font-size: 70px;
    color: white;
    line-height: 80px;
    margin-top: 70px;
    font-weight: bold;
  }
  span {
    color: white;
    font-size: 21px;
    line-height: 28px;
  }
  input {
    display: block;
    margin-top: 50px;
  }
  &-session {
    position: absolute;
    top: 0;
  }
}

//Tag Main

main {
  margin-top: 100px;
  .sessions {
   text-align: center;
    &-left {
      padding: 100px 0;
      background-color: $black_text;
      color: $white_text;
      h2 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 80px;
      }
      aside {
        text-align: left;
        margin: 0 280px;
        p {
          border-bottom: 2px solid $gray_numbers;
          font-size: 18px;
          margin-bottom: 40px;
          &.f {
            &::before {
              content: "1 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 50px;
              color: $gray_numbers;
            }
          }
          &.s {
            &::before {
              content: "2 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 50px;
              color: $gray_numbers;
            }
          }
          &.t {
            &::before {
              content: "3 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 52px;
              color: $gray_numbers;
            }
          }
        }
      }
      input {
        margin-top: 80px;
      }
    }
    &-right {
      padding: 100px 0;
      background-color: $gray_light_fone;
      color: $black_text;
      h2 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 80px;
      }
      aside {
        text-align: left;
        margin: 0 280px;
        p {
          border-bottom: 2px solid $gray_light_numbers;
          font-size: 18px;
          margin-bottom: 40px;
          &.f {
            &::before {
              content: "1 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 50px;
              color: $gray_light_numbers;
            }
          }
          &.s {
            &::before {
              content: "2 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 50px;
              color: $gray_light_numbers;
            }
          }
          &.t {
            &::before {
              content: "3 ";
              margin-left: -22px;
              font-size: 80px;
              font-weight: bold;
              vertical-align: middle;
              line-height: 52px;
              color: $gray_light_numbers;
            }
          }
        }
      }
      input {
        margin-top: 80px;
      }
    }
  }

  //map
  .map {
    position: relative;
    &-search {
      background-color: white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 50px 275px 50px 50px;
      border-radius: 3px;

      h2 {
        font-size: 50px;
        font-weight: 700;
      }
      p {
        font-weight: 500;
      }
      .search {
        &_inp {
          padding: 11px;
          border: none;
          border-radius: 3px;
          background-color: $gray_light_fone;
        }
        &_btn {
          margin-left: -5px;
        }
      }
    }
  }

  .service {
    margin-top: 100px;
    text-align: center;
    
    h2 {
      margin-top: 15px;
      font-size: 50px;
      font-weight: 600;
    }
    &-nav {
      margin-top: 35px;
      ul {
        padding-left: 0;
      }
      &__item {
        display: inline-block;
        font-size: 18px;
        margin-right: 40px;
        a {
          text-decoration: none;
          color: $gray_text;
          &:hover {
            color: $black_text;
            padding-bottom: 4px;
            border-bottom: 2px solid red;
          }
        }
      }
    }
  }
  
  //Стрелочки
  .arrow {
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 3px;
    &:before {
        content: " ";
        position: absolute;
        width: 3px;
        height: 12px;
        top: -2px;
        left: -3px;
        transform: rotate(40deg);
      }
    &:after {
      content: " ";
      position: absolute;
      width: 3px;
      height: 12px;
      top: -2px;
      right: -3px;
      transform: rotate(-40deg);
    }

    &-service {
      background: white;
      left: 150px;
      top: 31px;
      transform: rotate(90deg);
      &:before {
        background: white;
      }
      &:after {
        background: white;
      }
    }

    &__left {
      background: $black_text;
      transform: rotate(90deg);
      &:before {
        background: $black_text;
      }
      &:after {
        background: $black_text;
      }
    }
    &__right {
      background: $black_text;
      transform: rotate(-90deg);
      &:before {
        background: $black_text;
      }
      &:after {
        background: $black_text;
      }
    }
  }


  .gallery {
    margin-top: 50px;
    &__girl {
      overflow: hidden;
    }
    &-service {
      &__block {
        display: inline-block;
        position: relative;
        margin: 0 10px 20px;
        width: 50%;
        max-width: 350px;
        img {
          width: 100%;
        }
        &:hover {
          box-shadow: 1px 1px 10px 1px $gray_text;
          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0) 22%);
          }
        }
        .__info {
          text-align: left;
          position: absolute;
          bottom: 0;
          margin-bottom: 25px;
          margin-left: 25px;
          font-size: 18px;
          line-height: 18px;
          a {
          color: white;
          }
          input {
            color: white;
            border: none;
            display: block;
            background-color: $attantion;
            border-radius: 3px;
            text-transform: uppercase;
            font-size: 12px;
            padding: 4px 12px;
            letter-spacing: 1px;
            margin-bottom: 10px;
          }
        }
      }
      &-arrows {
        .wrap {
          display: inline-block;
          position: relative;
          margin: 0 10px;
          width: 50%;
          max-width: 350px;
          height: 28px;
          background-color: $gray_light_fone;
        }
      }
    }
  }

  //UsefulTips
  .usefulTips {
    margin-top: 150px;
    padding-bottom: 100px;
    background-color: $gray_light_fone;
    &-text {
      margin-top: 80px;
      h2 {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 30px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
      }
      img {
        margin-top: 15px;
        margin-left: 10px;
      }
    }
    &-block {
      margin-top: 80px;
      &__img {
        margin-bottom: 85px;
      }
      &-tips {
      margin-bottom: 20px;
      max-width: 320px;
      padding-bottom: 15px;
      font-size: 16px;
      border-bottom: 2px solid $gray_light_numbers;
          img {
            float: left;
            margin-left: 5px;
            margin-right: 15px;
            margin-top: -10px;
          }
      }
    }
    .headshot-service {
      background-color: $black_text;
      color: white;
      padding: 50px 50px 10px;
      margin-top: -50px;
      h3 {
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size: 22px;
      }
      p {
        margin-bottom: 40px;
        font-size: 18px;
        small {
          border-bottom: 1px solid red;
        }
      }
    }
  }
//all Clients
  .allClients {
    background-color: $black_text;
    color:white;
    z-index: 999;
    text-align: center;
    padding-bottom: 200px;


    h2 {
      padding-top: 100px;
      font-size: 50px;
    }
    .clients {
      margin-top: 56px;

      &-block {
        max-width: 490px;
        width: 100%;
        img {
          width: 100%;
        }
        p {
          text-align: left;
          margin-top: 30px;
          margin-left: 45px;
          font-size: 18px;
          font-style: italic;
          position: relative;
          &::before {
            content: url("../img/clients/icon_cl.png");
            position: absolute;
            top: -15px;
            left: -45px;
          }
        }
      }
    }
    .nameStar {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      small {
        text-transform: uppercase;
        font-size: 16px;
      }
      img {
        width: 15px;
        height: 15px;
      }
    }
  }

}













.scroll {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: $gray_light_fone;
  margin-left: 50px;
  border-radius: 30px;
}

.arrowTooTop {
    display: inline-block;
    position: absolute;
    height: 30px;
    width: 3px;
    &:before {
        content: " ";
        position: absolute;
        width: 3px;
        height: 12px;
        top: -2px;
        left: -3px;
        transform: rotate(40deg);
      }
    &:after {
      content: " ";
      position: absolute;
      width: 3px;
      height: 12px;
      top: -2px;
      right: -3px;
      transform: rotate(-40deg);
    }

    &-this {
      transform: rotate(0deg);
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      background: black;
      &:before {
        background: black;
      }
      &:after {
        background: black;
      }
    }
}