@font-face {
    font-family: 'Tahu!';
    src: url('Tahu.eot');
    src: url('Tahu.eot?#iefix') format('embedded-opentype'),
        url('Tahu.woff2') format('woff2'),
        url('Tahu.woff') format('woff'),
        url('Tahu.ttf') format('truetype'),
        url('Tahu.svg#Tahu!') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

